<app-nav></app-nav>

<div class="container">

  <mat-sidenav-container>

    <mat-sidenav-content>
      <h1 class="pt-2">All Products</h1>

      <hr/>

      <div class="pb-3">
        <button class="btn btn-secondary" (click)="opened=!opened">Show Options</button>
      </div>

<!--      <div class="row">-->
<!--        <div *ngFor="let product of products" class="col-md-5">-->
<!--          <app-product-thumbnail  [product]="product"></app-product-thumbnail>-->
<!--        </div>-->

<!--      </div>-->

      <div>
        <div *ngFor="let product of products">
          <app-product-thumbnail  [product]="product"></app-product-thumbnail>
        </div>
      </div>

    </mat-sidenav-content>

    <mat-sidenav mode="side" position="end" [(opened)]="opened">
      <div class="col-md-12 text-center">
        <button routerLink="/staff/stock/products/new" class="btn btn-secondary mt-4">Create Product</button>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>

</div>
