<mat-sidenav-container>

  <mat-sidenav-content>
    <div class="pt-2 pl-4">
      <button class="btn btn-dark mt-4" (click)="opened=!opened">Show Options</button>
    </div>
    <div class="text-center">
      <H1 class="pt-2 pl-4">All Products</H1>
    </div>

    <hr/>

    <div class="row">
      <div *ngFor="let product of products" class="col-md-5">
        <app-product-thumbnail  [product]="product"></app-product-thumbnail>
      </div>

    </div>

  </mat-sidenav-content>

  <mat-sidenav mode="side" position="end" [(opened)]="opened">
    <div class="col-md-12 text-center">
      <button routerLink="/staff/stock/products/new" class="btn btn-dark mt-4">Create Product</button>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
