<div>

  <mat-sidenav-container>

    <mat-sidenav-content>
      <hr/>

      <div class="row">
        <div class="pb-3 col-md-9">
          <button class="btn btn-secondary" (click)="opened=!opened">Show Options</button>
        </div>

        <div class="col-md-3">
          <mat-icon [matBadge]="numProducts">shopping_cart</mat-icon>
        </div>
      </div>

      <div class="row">
        <div *ngFor="let product of products" class="col-md-5">
          <app-store-product-thumbnail (eventEmitter)="receiveProductCount($event)"  [product]="product"></app-store-product-thumbnail>
        </div>

      </div>

    </mat-sidenav-content>

    <mat-sidenav mode="side" position="end" [(opened)]="opened">
      <div class="col-md-12 text-center">
        <button routerLink="/store/return-item" class="btn btn-secondary mt-4">Return Item</button>
      </div>
      <div class="col-md-12 text-center">
        <button routerLink="/store/cart" class="btn btn-secondary mt-4">View Cart</button>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>

</div>
