<app-nav></app-nav>

<script src="category-details.component.ts"></script>
<div [routerLink]="['/staff/stock/categories', category.categoryCode]" class="pt-4 mb-3 pl-4">

  <div class="row">
    <div class="col-md-11">
      <h2>{{category?.categoryName}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div><strong>Description:</strong> {{category?.description}}</div>
    </div>

  </div>

  <div class="mt-3 ml-2">
    <button [routerLink]="['/staff/stock/categories/' + category.categoryCode +'/update']" type="submit" class="btn btn-primary mr-3">Edit</button>
    <button type="button" class="btn btn-danger" (click)="deleteCategory()">Delete</button>
  </div>
</div>
