<div class="container pb-4">
  <div class="col-md-12 pt-3">
    <h2>Update Product</h2>
  </div>

  <!--  col-md-4 col-md-offset-4-->
  <div class="col-md-6">
    <form #form="ngForm">

      <div class="form-group">
        <label for="productName">Product Name:</label>
        <input id="productName" name="productName" class="form-control" placeholder="product name..." [(ngModel)]="oldProduct.name"/>
      </div>
      <div class="form-group">
        <label for="categoryId">Category:</label>
        <select id="categoryId"  name="categoryId" class="form-control" [(ngModel)]="oldProduct.categoryId">
          <option value="">select category...</option>
          <option value="1">Bed</option>
          <option value="2">Couch</option>
          <option value="3">Wardrobe</option>
          <option value="4">Cupboard</option>
        </select>
      </div>
      <div class="form-group">
        <label for="productDescription">Description:</label>
        <textarea id="productDescription" name="description" rows=3 class="form-control" placeholder="description..." [(ngModel)]="oldProduct.description"></textarea>
      </div>
      <div class="form-group">
        <label for="productPrice">Price:</label>
        <input id="productPrice" name="price" type="number" class="form-control" placeholder="Price..." [(ngModel)]="oldProduct.price"/>
      </div>

      <div class="form-group">
        <label for="productImage">Image:</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
          </div>
          <div class="custom-file">
            <input name="image" type="file" class="custom-file-input" id="productImage"
                   aria-describedby="inputGroupFileAddon01" [(ngModel)]="oldProduct.image">
            <label class="custom-file-label" for="productImage">Choose file</label>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mr-3" (click)="updateProduct(form)">Save</button>
      <button routerLink="/staff/stock/products" type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </form>
  </div>

</div>

<!--{{ form.value | json }}-->
