<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
          aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#">Furniture Supplier</a>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Staff</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Deliveries</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Promotions</a>
      </li>

    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Events" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>

  <div class="navbar" id="userText">
    <ul class="nav navbar-nav">
      <li>
        <a class="navbar-text">Welcome Gene</a>
      </li>
    </ul>
  </div>

</nav>
