<app-nav></app-nav>

<div class="container pb-4">
  <div class="col-md-12 pt-3">
    <h2>Create Product Category</h2>
  </div>

  <div class="col-md-6">
    <form [formGroup]="newCategoryForm" (ngSubmit)="createCategory(newCategoryForm.value)" autocomplete="off">
      <div class="form-group">
        <label for="productName">Name:</label>
        <em *ngIf="name.invalid && name.dirty">Required</em>
        <input formControlName="name" id="productName" type="text" class="form-control" placeholder="category name..." />
      </div>

      <div class="form-group">
        <label for="productDescription">Description:</label>
        <textarea formControlName="description" id="productDescription" rows=3 class="form-control" placeholder="description..."></textarea>
      </div>

      <button type="submit" class="btn btn-primary mr-3">Save</button>
      <button routerLink="/staff/stock/categories" type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </form>
  </div>

</div>
